<style>
    #largeModal .modal-dialog {
        max-width: 90% !important;
    }
    #checkboxes {
      //display: none;
      border: 1px #dadada solid;
    }
    #checkboxes1 {
      //display: none;
      border: 1px #dadada solid;
    }

</style>
<!-- Add Action Modal Start -->
<div class="modal " id="largeModal" tabindex="-1" data-backdrop="false">
    <div class="modal-dialog " style="width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-plus" aria-hidden="true"></i> ADD/UPDATE ACTION | {{ member_details.0.FIRST_NAME }} {{ member_details.0.LAST_NAME }} - #{{ member_details.0.medicaid_id }}</h5>
                <button type="button" class="btn-close"  onclick="close_modal('largeModal');"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">TO-DO / DONE</a></li>
                            <li><a data-toggle="tab" href="#tab2">APPOINTMENT</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <form action="/add_action/" name="add_action" id="add_action"  enctype="multipart/form-data" method="post" >
                                    {% csrf_token %}
                                    <input type="hidden" name="action_type_source" id="action_type_source" value="Member Action">
                                    <input type="hidden" name="medicaid_id" value="{{medicaid_id}}" >
                                    <input type="hidden" name="visit_alertname" id="visit_alertname">
                                    <input type="hidden" name="action_type_name" id="action_type_name">
                                    <input type="hidden" name="update_action_id" id="update_action_id" >

                                     <div class="row mt-3">
                                         <div class="col-sm-6 mt-3 border rounded p-3">
                                             <div class="mb-2 text-uppercase"><h4><b>Action</b></h4></div>
                                             <div class="row ">
                                             <div class="col-sm-3">
                                                  <label class="form-label text-uppercase" style="border:none;font-weight:100;">Activity Category:</label>
                                             </div>
                                             <div class="col-sm-9">
                                                 {% for reagon in sel_panel_list %}
                                                 <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="action_id" id="action_id" value="{{ reagon.id }}" onclick="set_scheduled_action_status(this.value)" {% if reagon.id == 11 %}checked{% endif %}>
                                                      <label class="form-check-label text-uppercase" style="font-weight:100;"> {{ reagon.Panel_Name }}</label>
                                                 </div>
                                                 {% endfor %}
                                             </div>
                                             <div class="col-sm-3 mt-4">
                                                  <label class="form-label text-uppercase" style="border:none;font-weight:100;">Activity Type:</label>
                                             </div>
                                             <div class="col-sm-9 mt-4">
                                                 {% for type in sel_panel_type %}
                                                 <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="panel_id" id="panel_id" value="{{ type.id }}" {% if type.id == 2 %}checked{% endif %}>
                                                      <label class="form-check-label text-uppercase" style="font-weight:100;"> {{ type.action_type }}</label>
                                                 </div>
                                                 {% endfor %}
                                             </div>
                                            <div class="col-sm-3 mt-4">
                                                <input placeholder="Action Date" type="text" name="action_date"  id="action_date"  class="form-control datepicker text-uppercase" required>
                                            </div>
                                             <div class="col-sm-3 mt-4">
                                                <select class="form-control form-select text-uppercase" name="action_status" id="action_status" required style=" text-transform: uppercase;">
                                                    <option value="Scheduled">Scheduled</option>
                                                    <option value="Success">Success</option>
                                                    <option value="Failure">Failure</option>
                                                </select>
                                              </div>
                                                <div class="col-sm-6 mt-4">
                                                    <select class="form-control form-select text-uppercase" name="action_result_id" id="action_result_id" required>
                                                        <option value=""> -- ACTION STATUS --</option>
                                                    </select>
                                                </div>
                                             <div class="col-sm-12 mt-4">
                                                <textarea class="form-control text-uppercase" name="action_note" id="action_note" required placeholder="Type your text..."></textarea>
                                            </div>
                                            <div class="col-sm-12 mt-4">
                                                <input class="form-control" disabled type="file" name="file_visit_update" accept="application/pdf">
                                            </div>
                                             </div>
                                         </div>
                                         <div class="col-sm-6 mt-3 border rounded p-3" >
                                             <div class="mb-2 text-uppercase"><h4><b>Next Activity</b></h4></div>
                                            <div class="row ">
                                             <div class="col-sm-3 mt-4">
                                                  <label class="form-label text-uppercase" style="border:none;font-weight:100;">Next Activity Type:</label>
                                             </div>
                                             <div class="col-sm-9 mt-4">
                                                 {% for type in sel_panel_type %}
                                                 <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="radio" name="next_panel_id" id="next_panel_id" value="{{ type.id }}" >
                                                      <label class="form-check-label text-uppercase" style="font-weight:100;"> {{ type.action_type }}</label>
                                                 </div>
                                                 {% endfor %}
                                             </div>
                                             <div class="col-sm-3 mt-4">
                                                  <label class="form-label text-uppercase" style="border:none;font-weight:100;">Next Activity Date:</label>
                                             </div>
                                            <div class="col-sm-3 mt-4">
                                                <input placeholder="Next Action Date" type="text" name="next_action_date"  id="next_action_date"  class="form-control datepicker text-uppercase" required>
                                            </div>
                                            <div class="col-sm-12 mt-4">
                                                <textarea class="form-control " name="next_action_note" id="next_action_note"  placeholder="Type your text..."></textarea>
                                            </div>
                                            <div class="col-sm-12 mt-4">
                                                <table class="table">
                                                    <tr>
                                                        <th>Task Type</th>
                                                        <th>Task Date</th>
                                                        <th>Status</th>
                                                        <th>Assign To</th>
                                                        <th>Note</th>
                                                    </tr>
                                                    <tbody id="action_task_list">

                                                    </tbody>
                                                </table>
                                            </div>
                                            </div>
                                         </div>

                                        <div class="col-sm-6 mt-3 border rounded p-3" >
                                            <div class="col-sm-12 mt-4">
                                                <div class="mb-2 text-uppercase"><h4><b>Risk Gaps</b></h4></div>
                                            <div class="multiselect">
<!--                                                <div class="selectBox" onclick="showCheckboxes('checkboxes')">-->
<!--                                                  <select class="form-control form-select text-uppercase" style="font-weight:100;">-->
<!--                                                    <option value=""> &#45;&#45; Select Risk Gaps &#45;&#45; </option>-->
<!--                                                  </select>-->
<!--                                                  <div class="overSelect"></div>-->
<!--                                                </div>-->
                                                <div  id="checkboxes" class=" p-3">
                                                    {% if gap_list %}
                                                        {% for gap in gap_list %}
                                                            <div class="text-uppercase mb-2">
                                                                <input type="checkbox"
                                                                       name="gap_id"
                                                                       id="gap_id_{{ gap.DIAG_CODE }}"
                                                                       value="{{ gap.DIAG_CODE }}"
                                                                       class="form-check-input me-2" {% if gap.PROCESS_STATUS == 1 %} checked {% endif %}>
                                                                {{ gap.DIAG_DESC }}
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div>No record found</div>
                                                    {% endif %}
                                                </div>
                                              </div>


                                            </div>
                                        </div>


                                         <div class="col-sm-6 mt-3 border rounded p-3" >

                                         <div class="col-sm-12 mt-4">
                                             <div class="mb-2 text-uppercase"><h4><b>Quality Gaps</b></h4></div>
                                             <div class="multiselect">
<!--                                                <div class="selectBox" onclick="showCheckboxes('checkboxes1')">-->
<!--                                                  <select class="form-control form-select text-uppercase" style="font-weight:100;">-->
<!--                                                    <option value=""> &#45;&#45; Select Quality Gaps &#45;&#45; </option>-->
<!--                                                  </select>-->
<!--                                                  <div class="overSelect"></div>-->
<!--                                                </div>-->
                                                <div id="checkboxes1" class=" p-3">
                                                    {% if quality_list %}
                                                        {% for quality in quality_list %}
                                                            <div class="text-uppercase mb-2">
                                                                <input type="checkbox"
                                                                       name="quality_id"
                                                                       id="quality_id_{{ quality.SUB_MEASURE }}"
                                                                       value="{{ quality.SUB_MEASURE }}"
                                                                       class="form-check-input me-2" {% if quality.PROCESS_STATUS == 1 %} checked {% endif %}>
                                                                {{ quality.MEASURE_NAME }}
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div>No record found</div>
                                                    {% endif %}

                                                </div>
                                              </div>

<!--                                            <select class="form-control form-select" name="quality_id" id="quality_id"  style=" text-transform: uppercase;height: 120px;" multiple>-->
<!--                                                <option value="">&#45;&#45; Select Quality Gaps &#45;&#45; </option>-->
<!--                                                {% for quality in quality_list %}-->
<!--                                                <option value="{{ quality.ID }}">{{ forloop.counter }}. {{ quality.MEASURE_NAME }}</option>-->
<!--                                                {% endfor %}-->
<!--                                            </select>-->
                                        </div>
                                         </div>
                                    </div>
                                    <div class="row mb-3 mt-4">
                                        <div class="col-sm-12" align="right">
                                            <button type="submit" class="btn btn-primary" >SUBMIT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <form action="/appointment_add_action/" name="appointment_add_action"  enctype="multipart/form-data" method="post" >
                                    <input type="hidden" name="provider_id" id="provider_id">
                                    <input type="hidden" name="vendor_id" id="vendor_id">
                                    <input type="hidden" name="appointment_medicaid_id" value="{{medicaid_id}}">
                                    <input type="hidden" name="app_alertname" id="app_alertname">
                                    {% csrf_token %}

                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <div id="vendor_tab" >
                                                <table width="100%">
                                                    <tr>
                                                        <td  width="90%">
                                                            <input type='text' class="form-control" name="vendor_name" id="vendor_name" placeholder="Search Vendor" style=" text-transform: uppercase;">
                                                        </td>
                                                        <td  width="10%">
                                                            <input type="button" class="btn btn-primary" value="SEARCH" onClick="get_vendor_list();"   style="margin-left: 10px;">
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div style="float: left;display: none;" id="vendor_lebel"><b>VENDOR LIST</b></div>
                                                <div style="clear:both;"></div>
                                            </div>
                                            <div id="vendor_replace_id" style="height: 120px;display: none; overflow-y: scroll;font-size: 14px;text-transform: uppercase;"></div>
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <div id="doctor_id" style="display: none;">
                                                <table width="100%">
                                                    <tr>
                                                        <td  width="90%">
                                                            <input type='text' class="form-control" name="doctor_name" id="doctor_name" placeholder="SEARCH DOCTOR">
                                                        </td>
                                                        <td  width="10%">
                                                            <input type="button" class="btn btn-primary" value="Search" onClick="get_doctor_list();"   style="margin-left: 10px;text-transform: uppercase;">
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div style="float: left;display: none;" id="doc_lebel"><b>DOCTOR LIST</b></div>
                                                <div style="clear:both;"></div>
                                            </div>
                                            <div id="replace_id" style="height: 120px;display: none; overflow-y: scroll;font-size: 14px;text-transform: uppercase;"></div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <div >
                                                <input type='text' class="form-control datepicker" name="appointment_action_date" id="appointment_action_date" placeholder="Appointment Date" required style="text-transform: uppercase;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <div class='input-group date' id='myDatepicker3'>
                                                <input type='time' class="form-control" placeholder="Appointment Time" name="appointment_action_time" id="appointment_action_time" style="text-transform: uppercase;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <input type="text" name="place_of_appointment" id="place_of_appointment"  class="form-control" placeholder="Place of Appointment" style="text-transform: uppercase;">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <select class="form-control" name="transportation_needed" id="transportation_needed" required style="text-transform: uppercase;">
                                                <option value="" >Transportation Needed</option>
                                                <option value="No" >No</option>
                                                <option value="Yes">Yes</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <select class="form-control" name="appointment_action" id="appointment_action" required style="text-transform: uppercase;">
                                                <option value="Failure">Appointment Failure</option>
                                                <option value="Rescheduled">Appointment Rescheduled</option>
                                                <option value="Scheduled" selected >Appointment Scheduled</option>
                                                <option value="Success">Appointment Success</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" name="appointment_action_note" id="appointment_action_note" required placeholder="Note" style="text-transform: uppercase;"></textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            {% if member_last_alert %}
                                            <table width="100%">
                                                <tr>
                                                    <td>
                                                        <select class="form-control" style="text-transform: uppercase;" name="app_alert_id" id="app_alert_id" onchange="get_alert_name();">
                                                            <option value="">SELECT ALERT</option>
                                                            {% for value in member_last_alert %}
                                                            <option value="{{ value.alert_id }}/{{ value.id }}">
                                                                {{ value.alert }} ({{ value.alert_type }} - {{ value.created_date }})
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" style="text-transform: uppercase;" name="app_alert_status_id">
                                                            {% for alertStatus in alert_statusList %}
                                                            {% if alertStatus.id|stringformat:"s" == "5" %}
                                                            <option value="{{ alertStatus.id }}">
                                                                {{ alertStatus.alert_status }}
                                                            </option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <input class="form-control m-b" type="file" name="file_appointment" id="file_appointment" accept="application/pdf" disabled>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12" align="right">
                                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Add action Modal-->
<script>
    function add_update_action_click(medicaid_id,action_id){
        //alert(medicaid_id);
        //$("#largeModal").show()

        //alert(action_id);
        if(medicaid_id){
            $("#gapLoader").show();
            $.ajax({
                type: "POST",
                url: "{% url 'get_member_task_list' %}",  // Django reverse URL
                data: {
                    medicaid_id: medicaid_id
                },
                success: function (response) {
                    if (response.statusCode === 200 && response.data.length > 0) {
                      $("#action_task_list").empty();

                      response.data.forEach((row, i) => {
                        let mydate = new Date(row.action_date);
                        let action_date =
                          (mydate.getMonth() + 1) + "/" + mydate.getDate() + "/" + mydate.getFullYear();

                        let action_type = row.action_type ?? "";
                        let status = row.status ?? "";
                        let action_note = row.action_note ?? "";
                        let initial = row.initial ?? "";

                        $("#action_task_list").append(
                          "<tr><td>" + action_type + "</td>" +
                          "<td>" + action_date + "</td>" +
                          "<td>" + status + "</td>" +
                          "<td>" + initial + "</td>" +
                          "<td>" + action_note + "</td></tr>"
                        );
                      });
                    } else {
                      $("#action_task_list").html(
                        "<tr><td colspan='5' class='text-center'>No records found</td></tr>"
                      );
                    }
                    $("#gapLoader").hide();
                },
                error: function () {
                $("#gapLoader").hide();
                    //alert("Action Result Not found.");
                }
            });

        }
        if(action_id){
                $("#gapLoader").show();

            $.ajax({
                type: "POST",
                url: "{% url 'get_member_action_details' %}",  // Django reverse URL
                data: {
                    id: action_id
                },
                success: function (data) {
                    //console.log(data[0].action_date);
                    ///////////////////////////////////
                    // Parse ISO string into a JS Date object
                    var dateObj = new Date(data[0].action_date);

                    // Format as mm/dd/yyyy
                    var month = ("0" + (dateObj.getMonth() + 1)).slice(-2);
                    var day = ("0" + dateObj.getDate()).slice(-2);
                    var year = dateObj.getFullYear();
                    var formattedDate = month + "/" + day + "/" + year;
                    ////////////////////////////////////
                    $("#action_date").val(formattedDate);
                    $("input[name='action_id'][value='" + data[0].action_id + "']").prop("checked", true);
                    $("input[name='panel_id'][value='" + data[0].panel_id + "']").prop("checked", true);
                    $("#action_status").val(data[0].action_status);
                    $("#action_result_id").val(data[0].action_result_id);
                    $("#action_note").val(data[0].action_note);
                    $("#update_action_id").val(data[0].update_action_id);
                    $("#update_action_id").val(data[0].id);
                    $("#gapLoader").hide();
                    //showCheckboxes('checkboxes');
                    //showCheckboxes('checkboxes1');
                    var myModal = new bootstrap.Modal(document.getElementById('largeModal'));
                    myModal.show();
                },
                error: function () {
                $("#gapLoader").hide();
                    alert("Action Result Not found.");
                }
            });
        }else{
                    //$("#gapLoader").hide();
                    var myModal = new bootstrap.Modal(document.getElementById('largeModal'));
                    myModal.show();

        }
    }
</script>