<!doctype html>
<html lang="en">
<head>{% load static %}
    <title>{% block title %} {{projectName}}  :: {{ pageTitle }} {% endblock %}</title>
    <!-- Favicons -->
    <link rel='icon' type='image/png' sizes='32x32' href="{% static '/images/favicon.png' %}">
    <link rel='icon' type='image/png' sizes='16x16' href="{% static '/images/favicon.png' %}">
    <link rel='apple-touch-icon' sizes='180x180' href="{% static '/images/favicon.png' %}">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <meta name='theme-color' content='#259cd8'>
    <!-- Vendor CSS Files -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static '/css/fonts.css' %}" rel='stylesheet'>
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <script src="{% static '/js/jquery.min.js' %}"></script>

    <!-- DataTable css & js -->
    <script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
    <link href="{% static '/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static '/css/mystyle.css' %}" rel="stylesheet">
    {% block css %} {% endblock %}
</head>
{% include "header.html" %}
{% include "leftmenu.html" %}
<body>
{% block body %}  {% endblock %}
</body>
{% include "footer.html" %}
{% block js %}    {% endblock %}
</html>