<!doctype html>
<html lang="en">
<head>{% load static %}
    <title>{% block title %} {% endblock %}</title>
    <!-- Favicons -->
    <link rel='icon' type='image/png' sizes='32x32' href="{% static '/images/favicon.png' %}">
    <link rel='icon' type='image/png' sizes='16x16' href="{% static '/images/favicon.png' %}">
    <link rel='apple-touch-icon' sizes='180x180' href="{% static '/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <meta name='theme-color' content='#259cd8'>
    {% block css %} {% endblock %}
</head>
<body>
    {% block body %}  {% endblock %}
    {% block js %}    {% endblock %}
</body>
</html>