{% load static %}

<div class="mt-5 mb-2" align="center">
        <div><img src="{% static '/images/h-logo.svg' %}">  </div>
        <div class="small_text fw-bold">Copyright © 2025 Henry Schein, Inc. All rights reserved.</div>
        <div class="small_text mt-1">
            <div data-bs-toggle="modal" data-bs-target="#infoModal">
               <a href="#" class="fbot text-decoration-none">
            Need help? Contact us for Support
                </a>
            </div>
        </div>
        <div>
        </div>
    </div>