{% load static %}
<div class="offcanvas offcanvas-start back-blue" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width:350px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
      <img src="{% static '/images/left-logo.svg' %}" alt="Prism Logo" style="width:120px;">
    </h5>
    <div data-bs-dismiss="offcanvas" aria-label="Close"><a href="#" style="color:#fff;cursor:pointer;font-size:30px;">
      <i class="bi bi-x"></i></a></div>
    </div>
    <div class="offcanvas-body">

      <ul class="sidebar-nav" id="sidebar-nav">
                  <li class="nav-item">
            <a class="nav-link collapsed" href="http://localhost/prismKarma/home">
              <i class="fa fa-flag"></i>
              <span>Home</span>
            </a>
          </li>
                  <li class="nav-item">
            <a class="nav-link collapsed" href="http://localhost/prismKarma/workspace">
              <i class="bi bi-bar-chart"></i>
              <span>My Workspeace</span>
            </a>
          </li>
                  <li class="nav-item">
            <a class="nav-link collapsed" href="http://localhost/prismKarma/membership">
              <i class="bi bi-bar-chart"></i>
              <span>834 File Process</span>
            </a>
          </li>
                  <li class="nav-item">
            <a class="nav-link collapsed" href="http://localhost/prismKarma/referralprocess">
              <i class="fa fa-flag"></i>
              <span>Referral Management</span>
            </a>
          </li>
                  <li class="nav-item">
            <a class="nav-link collapsed" href="http://localhost/prismKarma/application">
              <i class="fa fa-flag"></i>
              <span>Healthcare Application</span>
            </a>
          </li>
                  <li class="nav-item">
            <a class="nav-link collapsed" href="http://localhost/prismKarma/leads">
              <i class="fa fa-flag"></i>
              <span>Lead Management</span>
            </a>
          </li>
                  <li class="nav-item">
            <a class="nav-link collapsed" href="http://localhost/prismKarma/outreach_target_report">
              <i class="fa fa-flag"></i>
              <span>Outreach Target Report</span>
            </a>
          </li>
                  <li class="nav-item">
            <a class="nav-link collapsed" href="http://localhost/prismKarma/recertification">
              <i class="fa fa-flag"></i>
              <span>Member Recertification</span>
            </a>
          </li>
              </ul>

    </div>
</div>