{% load static %}
<div class="offcanvas offcanvas-start back-blue" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width:350px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <img src="{% static '/images/left-logo.svg' %}" alt="Prism Logo" style="width:120px;">
        </h5>
        <div data-bs-dismiss="offcanvas" aria-label="Close"><a href="#" style="color:#fff;cursor:pointer;font-size:30px;">
            <i class="bi bi-x"></i></a></div>
    </div>
    <div class="offcanvas-body">

        <ul class="sidebar-nav" id="sidebar-nav">
<!--            <li class="nav-item">-->
<!--                <a class="nav-link collapsed" href="javascript:void(0);">-->
<!--                    <i class="fa fa-flag"></i>-->
<!--                    <span>Home</span>-->
<!--                </a>-->
<!--            </li>-->
            {% if request.session.user_data.role_id == 9 %}
            <li class="nav-item">
                <a class="nav-link collapsed text-decoration-none" href="/mywork/">
                     <i class="fa fa-building"></i>
                    <span class="text-uppercase">My Workspeace</span>
                </a>
            </li>

            {% endif %}
            {% if request.session.user_data.role_id == 7 or request.session.user_data.role_id == 20 %}
            <li class="nav-item">
                <a class="nav-link collapsed text-decoration-none" href="/users/">
                    <i class="fa fa-user"></i>
                    <span class="text-uppercase">USERS MANAGE</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed text-decoration-none" href="/processmember/">
                    <i class="fa fa-upload"></i>
                    <span class="text-uppercase">Process Member</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed text-decoration-none" href="/processriskgap/">
                      <i class="fa fa-upload"></i>
                    <span class="text-uppercase">Process Risk Gap</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed text-decoration-none" href="/processquality/">
                      <i class="fa fa-upload"></i>
                    <span class="text-uppercase">Process Quality</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed text-decoration-none" href="/starperformance/">
                      <i class="fa fa-flag"></i>
                    <span class="text-uppercase">Star Performance</span>
                </a>
            </li>

             {% endif %}
<!--            <li class="nav-item">-->
<!--                <a class="nav-link collapsed" href="javascript:void(0);">-->
<!--                    <i class="fa fa-flag"></i>-->
<!--                    <span>Healthcare Application</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link collapsed" href="javascript:void(0);">-->
<!--                    <i class="fa fa-flag"></i>-->
<!--                    <span>Lead Management</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link collapsed" href="javascript:void(0);">-->
<!--                    <i class="fa fa-flag"></i>-->
<!--                    <span>Outreach Target Report</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link collapsed" href="javascript:void(0);">-->
<!--                    <i class="fa fa-flag"></i>-->
<!--                    <span>Member Recertification</span>-->
<!--                </a>-->
<!--            </li>-->
        </ul>

    </div>
</div>