<!--<div class="dropdown" id="dropdown" onclick="toggleDropdown()" style="text-align:left;">-->
<!--    {% if request.session.user_data.employee_role == 'RM' %}-->
<!--&lt;!&ndash;     <a href="/region_manager_score/" class="text5"><i class="fa fa-home"></i><span class="ps-1">Home</span></a>&ndash;&gt;-->

<!--    {% elif request.session.user_data.employee_role == 'ZM' %}-->
<!--&lt;!&ndash;     <a href="/manager_score/" class="text5"><i class="fa fa-home"></i><span class="ps-1">Home</span></a>&ndash;&gt;-->
<!--    {% else %}-->
<!--&lt;!&ndash;     <a href="/your_score/" class="text5"><i class="fa fa-home"></i><span class="ps-1">Home</span></a>&ndash;&gt;-->
<!--    {% endif %}-->

<!--    {% if request.session.user_data.employee_role == 'FSC' %}-->
<!--&lt;!&ndash;    <a href="/score_history/" class="text5"><i class="fa fa-dashboard"></i><span class="ps-1">Score History</span></a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a href="/care_credit/" class="text5"><img src="/static/images/icon_carecredit.svg" style="width:16px;"><span&ndash;&gt;-->
<!--&lt;!&ndash;            class="ps-1">Care Credit</span></a>&ndash;&gt;-->
<!--    {% endif %}-->
<!--    <a href="#" class="text5"><i class="fa fa-envelope-o"></i><span data-bs-toggle="modal" data-bs-target="#infoModal"-->
<!--                                                                    class="ps-1">Contact Us</span></a>-->
<!--    <a href="/logout/" class="text5"><i class="fa fa-power-off"></i>-->
<!--        <span data-bs-toggle="modal" class="ps-1">Logout</span></a>-->
<!--</div>-->
 <div id="dropdownMenu" class="dropdown">
       <a href="/your_score/" class="text5"><i class="fa fa-home"></i><span class="ps-1">Your Score</span></a>
       <a href="#" class="text5"><i class="fa fa-envelope-o"></i>
        <span data-bs-toggle="modal" data-bs-target="#infoModal" class="ps-1">Contact Us</span></a>
       <a href="/logout/" class="text5"><i class="fa fa-power-off"></i>
        <span data-bs-toggle="modal" class="ps-1">Logout</span></a>
  </div>

<script>
    function toggleMenu() {
      document.getElementById("dropdownMenu").classList.toggle("show");
    }

    // Optional: Hide menu if clicking outside
    window.onclick = function(e) {
      if (!e.target.matches('.menu-icon') && !e.target.closest('.menu-icon')) {
        const dropdown = document.getElementById("dropdownMenu");
        if (dropdown.classList.contains("show")) {
          dropdown.classList.remove("show");
        }
      }
    }
  </script>