{% extends 'basic.html' %}
{% load static %}
{% block body %}

<main id="main" class="main" style="margin-top:50px!important;min-height:550px;">
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% if messages %}
                                  {% for message in messages %}
                                    <div style="color: red;font-size: 18px;" align="center">{{ message }}</div>
                                  {% endfor %}
                                {% endif %}
                                <div align="right" class="mb-4"> <a onclick="add_plan();" style="text-decoration:underline;cursor:pointer;">+ ADD PLAN</a></div>
                                        <table class="table table-sm table-borderless" id="members">
                                            <thead>
                                                    <tr>
                                                        <th>PLAN NAME</th>
                                                        <th>START DATE</th>
                                                        <th>END DATE</th>
                                                        <th>FILE NAME</th>
                                                        <th>FILE TYPE</th>
                                                        <th>STATUS</th>
                                                        <th>ACTION</th>
                                                    </tr>
                                            </thead>
                                            <tbody>
                                                 {% for plan in plandetailslist %}
                                                    <tr>
                                                        <td class="text-uppercase">{{plan.plan_name}}</td>
                                                        <td class="text-uppercase">{{plan.start_date}}</td>
                                                        <td class="text-uppercase">{{plan.end_date}}</td>
                                                        <td class="text-uppercase">{{plan.file_name| default:''}}</td>
                                                        <td class="text-uppercase">{{plan.file_type| default:''}}</td>
                                                        <td class="text-uppercase">{% if plan.status == 0 %}  Active {% else %} Inactive {% endif %}</td>
                                                        <td class="text-uppercase"><a title="Update" href="javascript:void(0);" onclick="update_plan({{plan.id}},'{{plan.plan_name}}','{{plan.start_date}}','{{plan.end_date}}',{{plan.status}},{{plan.plan_document_id}});"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                    </div>
                </div>
            </div><!-- End Left side columns -->
        </div>
            </div>
        </div>
    </section>
</main>
<!-- Loder HTML -->
<div id="gapLoader"
     style="display:none; position:fixed; top:0; left:0; width:100%; height:100%;
            background:rgba(0,0,0,0.3); z-index:9999; text-align:center; padding-top:20%;">
  <div class="spinner-border text-primary" role="status" style="width:3rem; height:3rem;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<!-- Call list modal start -->
<div class="modal " id="callList" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase">ADD / UPDATE PLAN</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <form onsubmit="return frm_submit()" method="post" action="/add_plan/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="edit_plan_id" id="edit_plan_id">
                            <input type="hidden" name="plan_document_id" id="plan_document_id">

                            <div class="row">
                                 <div class="col-sm-6 mb-3" id="l_plan_id">
                                    <select class="text-uppercase w-100" name="plan_id" id="plan_id" required onchange="getdata(this.value)">
                                        <option value="0">NEW</option>
                                        {% for plans in planlist %}
                                        <option value="{{plans.id}}">{{plans.plan_name}} ({{plans.start_date}} - {{plans.end_date}})</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-sm-6 mb-3" id="planname">
                                    <input type='text' class="form-control text-uppercase" name="plan_name"  id="plan_name"  placeholder="Plan Name" >
                                </div>

                                <div class="col-sm-6 mb-3" id="startdate">
                                    <input type='text' class="form-control text-uppercase datepicker" name="start_date"  id="start_date"  placeholder="Start Date" >
                                </div>

                                <div class="col-sm-6 mb-3" id="enddate">
                                    <input type="text" name="end_date" id="end_date"   class="form-control text-uppercase datepicker" placeholder="End Date">
                                </div>
                                <div class="col-sm-6 mb-3">
                                   <input type="file" name="file_name" id="file_name" class="form-control text-uppercase" >
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <select class=" text-uppercase w-100" name="status" id="status" required>
                                        <option value="0">Active</option>
                                        <option value="1">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12" align="right">
                                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                                </div>
                            </div>
                 </form>

            </div>
        </div>
    </div>
</div>
<!-- Call list modal end -->

<script type="text/javascript">
    $('#members').DataTable({language: { search: "", searchPlaceholder: 'Search...' }});
    function add_plan(){
        $('#file_name').attr('required', true);
        $('#l_plan_id').show();
         $('#edit_plan_id').val('');
        var myModal = new bootstrap.Modal(document.getElementById('callList'));
        myModal.show();
    }
  function getdata(id){
    if(id == 0){
      $('#planname').show();
      $('#startdate').show();
      $('#enddate').show();
    }else{
      $('#planname').hide();
      $('#startdate').hide();
      $('#enddate').hide();
    }
  }
    function update_plan(id,plan_name,start_date,end_date,status,plan_document_id){
         $('#file_name').val('');
         $('#file_name').attr('required', false);
         $('#l_plan_id').hide();
         $('#edit_plan_id').val(id);
         $('#plan_name').val(plan_name);
         $('#start_date').val(start_date);
         $('#end_date').val(end_date);
         $('#status').val(status);
         $('#plan_document_id').val(plan_document_id);
        var myModal = new bootstrap.Modal(document.getElementById('callList'));
        myModal.show();
    }
    function frm_submit(){
        const fromDate = new Date($('#start_date').val());
        const toDate = new Date($('#end_date').val());
        if (fromDate > toDate) {
            alert("Start Date cannot be after End Date.");
            return false;
        }else{
             $("#gapLoader").show();
        }
    }

 </script>
{% endblock %}

