{% extends 'basic.html' %}
{% block title%} PRISM  :: {{pageTitle}} {% endblock %}
{% load static %}
{% block body %}

<main id="main" class="main">
  <section class="section">
    <div class="row align-items-top">
      <div class="col-lg-12">

        <!-- Default Card -->
        <div class="card">
          <div class="card-body">
            <form method="post" action="/risk_profile/">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-3">
                  <select name="user_id" class="form-control darrow" style="text-transform: uppercase;">
                    <option value="">ALL USER</option>
                    {% for user in user_list %}
                    <option value="{{ user.ID }}" {% if user.ID == user_id %}selected{% endif %}>
                      {{ user.FistName }} {{ user.LastName }}
                    </option>
                    {% endfor %}

                  </select>
                </div>
                <div class="col-lg-2">
                  <button type="submit" id="btnsubmit" class="btn btn-primary">SEARCH</button>
                </div>
                <div class="col-lg-7">
                   <div class="row">HINTS :
                  {% for hints in riskLevel %}
                     <div class="col-lg-3">
                       {{hints.level}} ({{hints.range_from}} - {{hints.range_to}})
                     </div>
                  {% endfor %}
                   </div>
                </div>
              </div>

            </form></div>

        </div>
        <div class="">

          <table class="table table-sm" id="member_risk_profile_table">
            <thead>
            <tr>
<!--              <th>USER</th>-->
              <th>MEMBER</th>
              <th>CATEGORY</th>
              <th width="10%">SUB-CATEGORY</th>
              <th width="20%">SPECIFIC</th>
              {% for to_date in toDateArray %}
              <th>{{ to_date }}</th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
              {% for user, levels in risk_grouped.items %}
                <tr onclick="risk_summary('{{ user|cut:' ' }}')" style="cursor:pointer;">
                  <td colspan="{{ colspan_count }}" style="background:#e3e3e3; font-weight:bold;" class="text-uppercase" align="center">{{ user }}

                     {% for u, arr in user_member_counts.items %}
                       {% if u == user|cut:" " %}
                             ({{arr}} MEMBER{{ arr|pluralize:"S" }})
                       {% endif %}
                    {% endfor %}

                  </td>
                </tr>

                {% for risk_label, members in levels.items %}
                  {% if members %}
                  <tr align="center" onclick="level_summary('{{ user|cut:' ' }}','{{ risk_label|cut:' ' }}')" style="cursor:pointer;">
                    <td colspan="{{ colspan_count }}" style="color:#000; font-weight:bold;">{{ risk_label }}
                    ({{ members|length }})
                   </td>
                  </tr>

                  {% for member_id, total in members.items %}

                    <tr style="background:#f8f9fa; display:none;" class="{{ user|cut:' ' }} {{ risk_label|cut:' ' }}">
<!--                      <td></td>-->
                      <td class="text-uppercase">#{{ member_id }}</td>
                      <td colspan="10" style="font-weight:bold;">TOTAL: {{ total }}</td>
                    </tr>
                  {% for entry in flat_for_template %}
                    {% if entry.user == user and entry.member_id == member_id %}
                      {% for item in entry.items %}
                    <tr style="display:none;" class="{{ user|cut:' ' }} {{ risk_label|cut:' ' }}">
<!--                      <td></td>-->
                      <td></td>
                      <td>{{ item.category }}</td>
                      <td>{{ item.sub_category }}</td>
                      <td>{{ item.specific }}</td>

                      {% for d in toDateArray %}
                        {% with found=False %}
                          {% for s in item.scores_list %}
                            {% if s.date == d %}
                              {% if s.level == 'Low' %}
                                <td><div class="bg-success text-white text-center" style="width:30px;height:20px;border-radius:5px;">{{ s.score }}</div></td>
                              {% elif s.level == 'Medium' %}
                                <td><div class="bg-warning text-white text-center" style="width:30px;height:20px;border-radius:5px;">{{ s.score }}</div></td>
                              {% elif s.level == 'High' %}
                                <td><div class="bg-danger text-white text-center" style="width:30px;height:20px;border-radius:5px;">{{ s.score }}</div></td>
                              {% endif %}
                              {% with found=True %}{% endwith %}
                            {% endif %}
                          {% endfor %}

                        {% endwith %}
                      {% endfor %}
                    </tr>
                   {% endfor %}
                  {% endif %}
                {% endfor %}


                  {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
              </tbody>

          </table>
        </div>

      </div>
    </div><!-- End Default Card -->
  </section>
</main>
{% include "include/processingloder.html" %}
<script>
  function risk_summary(val){
   const element = $('.' + val);

    if (element.is(':visible')) {
        element.hide();
    } else {
        element.show();
    }
  }
  function level_summary(u,l){
    const element = $('.' + u + '.' + l);

    if (element.is(':visible')) {
        element.hide();
    } else {
        element.show();
    }
  }
</script>

{% endblock %}


